@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.btn-danger{
    background-color: #BD0001;
    border-radius: 15px;
    border-color: #BD0001;
    padding: 10px 25px;
    color: white;
}

.nav-item .nav-link{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

#hero{
    background-image: url("/assets/images/bekantan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.hero-tittle{
    padding-top: 200px;
    color: #e6e6e6;
}

.hero-text{
    font-size: 65px;
    font-weight: 600;
}

#ff{
    background-image: url('../../assets/images/bekantan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.ff-tittle{
    padding-top: 200px;
    color: #e6e6e6;
}

.ff-text{
    font-size: 65px;
    font-weight: 600;
}
.container{
    padding-top: 20px;
}

.box{
    padding: 20px;
    
}

.box1{
    padding: 20px;
    
}