@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.btn-danger{
    background-color: #BD0001;
    border-radius: 15px;
    border-color: #BD0001;
    padding: 10px 25px;
    color: white;
}

.nav-item .nav-link{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

#hero{
    background-image: url('../../assets/images/bakut.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.hero-tittle{
    padding-top: 200px;
    color: #ffffff
}

.hero-text{
    font-size: 65px;
    font-weight: 600;
}

.flora{
    font-size: 18px;
    color: black;
}

#ff{
    background-image: url('../../assets/images/pulaubakut.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.ff-tittle{
    padding-top: 300px;
    padding-right: 500px;
    text-align: center;
    color: #e6e6e6;
}

.ff-text{
    text-align: center;
    font-size: 65px;
    font-weight: 600;
}

.stripe{
    height: 5px;
    width: 40px;
    background-color: #259652;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-body h3 {
    margin: 0;
    font-size: 20px;
  }
  
  .card-body p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #666;
  }