body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  height: 200vh;
  position: relative; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

  .hero1 {
    height: auto;
    width: 100%;
    height: 100vh;
    background-color: #259632;}
  .hero2 {
    height: 100vh;
    width: 100%;
    background-color: #f8fbff;}
  .hero3 {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/images/pulaubakut.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 70% 30%;
    position: absolute;}

/* Header */
header {
  position: absolute;
  font-size: 50px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0px 0; }
  @media (min-width: 768px) {
    header {
      padding: 30px 0; } }
  header .navbar-brand {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 800;
    font-size: 2rem; }
    header .navbar-brand.absolute {
      position: absolute; }
      @media (max-width: 991.98px) {
        header .navbar-brand.absolute {
          position: relative; } }
    header .navbar-brand span {
      color: #fff; }
      @media (min-width: 768px) {
        header .navbar-brand span {
          color: #ced4da; } }
  header .navbar {
    background: black !important;
    padding-top: .5rem;
    padding-bottom: .5rem; }
    @media (min-width: 768px) {
      header .navbar {
        padding-top: 0;
        padding-bottom: 0;
        background: none !important;
        position: relative; } }
    header .navbar .nav-link {
      padding: 1.7rem 1rem;
      outline: none !important;
      font-size: 1.5rem;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8) !important; }
      @media (max-width: 1199.98px) {
        header .navbar .nav-link {
          padding: .5rem 0rem; } }
      header .navbar .nav-link.active {
        color: #fff !important; }
    header .navbar .dropdown-menu {
      font-size: 14px;
      border-radius: 4px;
      border: none;
      -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
      min-width: 13em;
      margin-top: -10px; }
      header .navbar .dropdown-menu:before {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #fff;
        border-width: 7px; }
        @media (max-width: 991.98px) {
          header .navbar .dropdown-menu:before {
            display: none; } }
      header .navbar .dropdown-menu .dropdown-item:hover {
        background: #007bff;
        color: #fff; }
      header .navbar .dropdown-menu .dropdown-item.active {
        background: #007bff;
        color: #fff; }
      header .navbar .dropdown-menu a {
        padding-top: 7px;
        padding-bottom: 7px; }
    header .navbar .cta-btn a {
      background: #007bff;
      color: #fff !important;
      text-transform: uppercase;
      font-size: .8rem;
      padding: 15px 20px !important;
      line-height: 1;
      font-weight: bold;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      header .navbar .cta-btn a:hover {
        background: #fff;
        color: #007bff !important;
        -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2); }

/* flora fauna */
.fauna-box1{
  display: grid;
  color: #259632;
  font-size: 65px;
  font-weight: 600;
  place-items: center;
  text-align: center;
}
.fauna-box2{
  display: grid;
  color: #ffffff;
  font-size: 65px;
  font-weight: 600;
  place-items: center;
  text-align: center;
}
.fauna-box2 img{
    object-fit: cover;
    box-shadow: 10px 5px 5px 0px rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    width: 200px;
    transition: transform;
}
/* gamabr jedak jeduk */
/* .fauna-content1 :hover{
  transform: rotate(15deg);
  transform: scale(1.1);
}
.fauna-content2 :hover{
  transform: rotate(15deg);
  transform: scale(1.1);
} */
.fauna-content2 h2{
  color: #fff;
  font-weight: bold;
  padding-top: 10px;
}
.fauna-content1 h2{
  color: #fff;
  font-weight: bold;
  padding-top: 10px;
}

/* fasilitas */
.contain1f {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
.contain2f {
    display: flex;
    justify-content: center;
    align-items: center;}
.fasilitasf {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #ffff;
    font-weight:bold;}

.boxf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #ffff;
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;}

.boxf:hover {
    transform: scale(1.2);}


